---
import "../styles/global.css";
---

<nav class="w-full flex justify-end items-center text-white uppercase !py-4 !px-20 !gap-4">
		<a href="/" >Home</a>
		<a href="/about" >About</a>
		<a href="/contact" >Contact</a>
</nav>
